@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    margin: 0 auto;
    background-color: var(--cor1);
    font-family: 'Montserrat';
}

:root {
    /* ### Primary */
    --cor0: hsl(158, 36%, 37%);
    --cor1: hsl(30, 38%, 92%);
    
    /* ### Neutral */
    
    --cor2: hsl(212, 21%, 14%);
    --cor3: hsl(228, 12%, 48%);
    --cor4: hsl(0, 0%, 100%);
}

div .conteudo, picture {
    background-color: white;
    width: 50%;
    padding: 30px;
    margin: 20%;
    display: inline-block;
    border-radius: 10px;
}

div .conteudo h1 {
    font-family: 'Fraunces';
    font-weight: 700;
}

div .conteudo .categoria {
    
    font-weight: 500;
    color: var(--cor3);
    font-size: 22px;
}


div .conteudo .descricao {
    font-weight: 500;
    color: var(--cor3);
    font-size: 16px;
}

div .conteudo .preco .promocao {
    font-family: 'Fraunces';
    font-weight: 700;
    color: var(--cor0);
    font-size: 36px;
}

div .conteudo .preco s{
    padding: 20px;
    color: var(--cor3);
}

div .button {
    background-color: var(--cor0);
    padding: 20px;
    color: var(--cor4);
    text-align: center;
    border-radius: 10px;
}

footer {
    text-align: center;
    color: var(--cor3);
   

}

footer a {
    text-decoration: underline;
    color: var(--cor3);
}


/* como colocar imagem ao lado da div do conteudo?
como arredondar apenas alguns cantos? */